<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zjnu.mapper.bOrderMapper">
<resultMap id="borderResultMap" type="com.zjnu.pojo.Order">
    <result property="brandId" column="brandid"></result>
</resultMap>
</mapper>