<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjnu.mapper.MessageMapper">
    <resultMap id="messageResultMap" type="com.zjnu.pojo.Message">
        <result property="fromName" column="from_name"></result>
        <result property="toName" column="to_name"></result>
    </resultMap>

</mapper>