<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjnu.mapper.TrolleyMapper">
    <resultMap id="trolleyResultMap" type="com.zjnu.pojo.Trolley">
        <result property="brandId" column="brand_id"></result>
    </resultMap>
</mapper>